__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.git/
.gitignore
*.md
.DS_Store
*.log
output/

models/pg_mfa_global_socket/
**/.s.PGSQL.*
*.sock
**/*.socket

# Ignore les fichiers générés par Demucs
input/separated/